<!-- trip_details.html -->
{% extends 'base_fleetmanager.html' %}
{% load static %}

{% block title %}Trip Details - Truck Manager{% endblock %}

{% block content %}
<div class="card shadow-sm">
    <div class="card-header brand-bg text-white">
        <div class="d-flex justify-content-between align-items-center">
            <h3 class="mb-0">Trip Details</h3>
            <a href="{% url 'trip_management' %}" class="btn btn-brand-outline">
                <i class="material-icons">arrow_back</i>
                Back to Trips
            </a>
        </div>
    </div>
    
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <dl class="row">
                    <dt class="col-sm-4 brand-color">Trip ID:</dt>
                    <dd class="col-sm-8">{{ trip.id }}</dd>
                    
                    <dt class="col-sm-4 brand-color">Truck:</dt>
                    <dd class="col-sm-8">{{ trip.truck.number_plate }}</dd>
                    
                    <dt class="col-sm-4 brand-color">Driver:</dt>
                    <dd class="col-sm-8">{{ trip.driver.user.get_full_name }}</dd>
                    
                    <dt class="col-sm-4 brand-color">Route:</dt>
                    <dd class="col-sm-8">{{ trip.route.start_location }} ➝ {{ trip.route.end_location }}</dd>
                </dl>
            </div>
            <div class="col-md-6">
                <dl class="row">
                    <dt class="col-sm-4 brand-color">Status:</dt>
                    <dd class="col-sm-8">
                        <span class="badge {% if trip.status == 'Completed' %}bg-success{% else %}brand-bg{% endif %}">
                            {{ trip.status }}
                        </span>
                    </dd>
                    
                    <dt class="col-sm-4 brand-color">Start Time:</dt>
                    <dd class="col-sm-8">{{ trip.start_time }}</dd>
                    
                    <dt class="col-sm-4 brand-color">Estimated Duration:</dt>
                    <dd class="col-sm-8">{{ trip.estimated_duration }} hours</dd>
                </dl>
            </div>
        </div>
        
        <div class="d-flex justify-content-end gap-2 mt-4">
            <a href="{% url 'edit_trip' trip.id %}" class="btn btn-brand">
                <i class="material-icons">edit</i>
                Edit Trip
            </a>
            <a href="{% url 'delete_trip' trip.id %}" class="btn btn-danger">
                <i class="material-icons">delete</i>
                Delete Trip
            </a>
        </div>
    </div>
</div>
{% endblock %}