{% extends 'base_fleetmanager.html' %}
{% block title %}Driver Details | Truck Manager{% endblock %}

{% block content %}
<div class="card shadow-sm">
    <div class="card-header brand-bg text-white">
        <h2 class="mb-0"><i class="material-icons align-middle">person</i> Driver Details</h2>
    </div>
    <div class="card-body">
        <div class="row g-3 mb-4">
            <div class="col-md-6">
                <dl class="row">
                    <dt class="col-sm-4 text-brand">Driver ID:</dt>
                    <dd class="col-sm-8">{{ driver.id }}</dd>

                    <dt class="col-sm-4 text-brand">Full Name:</dt>
                    <dd class="col-sm-8">{{ driver.user.get_full_name }}</dd>

                    <dt class="col-sm-4 text-brand">Username:</dt>
                    <dd class="col-sm-8">{{ driver.user.username }}</dd>

                    <dt class="col-sm-4 text-brand">Phone:</dt>
                    <dd class="col-sm-8">{{ driver.phone }}</dd>
                </dl>
            </div>

            <div class="col-md-6">
                
            </div>
        </div>

        <div class="d-flex justify-content-end gap-2">
            <a href="{% url 'edit_driver' driver.id %}" class="btn btn-brand">
                <i class="material-icons align-middle">edit</i> Edit Driver
            </a>
            <a href="{% url 'delete_driver' driver.id %}" class="btn btn-brand-danger">
                <i class="material-icons align-middle">delete</i> Delete Driver
            </a>
        </div>
    </div>
</div>
{% endblock %}